<?xml version="1.0"?>
<model>
  <name>walkability_floor</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Xiangrui Wang</name>
    <email>xw00016@mix.wvu.edu.com</email>
  </author>
  <description>
    A walkability map floor for hallway scenario
  </description>
</model>