<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="first_robot">
    <xacro:macro name="base_link" params="length radius">
        <link name="base_link">
        <!-- Components' appearance -->
            <visual>
                <!-- Offset and rotation along it's own geometric center -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- Geometry -->
                <geometry>
                    <!-- length is height (m) -->
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
                <!-- Material and color -->
                <material name="white">
                    <!-- a is transparency -->
                    <color rgba="1.0 1.0 1.0 0.5"/>
                </material>
            </visual>
        </link>
    </xacro:macro>
    
    <!-- if we wanna add more imu, we can set the name and location (xyz) as params -->
    <xacro:macro name="imu_link" params="imu_name xyz">
    <!-- Robot's IMU -->
        <link name="${imu_name}_link">
            <!-- Components' appearance -->
            <visual>
                <!-- Offset and rotation along it's own geometric center -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- Geometry -->
                <geometry>
                    <!-- add a cube with lengths of 2cm -->
                    <box size="0.02 0.02 0.02"/>
                </geometry>
                <!-- Material and color -->
                <material name="black">
                    <!-- a is transparency -->
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>
            </visual>
        </link> 

        <!-- Robot's joint (combine robot's components) -->
        <!-- the param 'type' denots how components place on the joint -->
        <joint name="${imu_name}_joint" type="fixed">
            <!-- param 'origin' is the location of components placement -->
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
            <parent link="base_link"/>
            <child link="${imu_name}_link"/>
        </joint>

    </xacro:macro>

    <xacro:base_link length="0.12" radius="0.1"/>
    <xacro:imu_link imu_name="imu_up" xyz="0.0 0.0 0.03"/>
    <xacro:imu_link imu_name="imu_down" xyz="0.0 0.0 -0.03"/>

</robot>
