<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"> 
    <xacro:include filename="$(find fishbot_description)/urdf/fishbot/common_inertial.xacro"/>
    <xacro:macro name="imu_xacro" params="xyz">
    <!-- Robot's IMU -->
        <link name="imu_link">
            <!-- Components' appearance -->
            <visual>
                <!-- Offset and rotation along it's own geometric center -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- Geometry -->
                <geometry>
                    <!-- add a cube with lengths of 2cm -->
                    <box size="0.02 0.02 0.02"/>
                </geometry>
                <!-- Material and color -->
                <material name="black">
                    <!-- a is transparency -->
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>
            </visual>

            <collision>
                <!-- Offset and rotation along it's own geometric center -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- Geometry -->
                <geometry>
                    <!-- add a cube with lengths of 2cm -->
                    <box size="0.02 0.02 0.02"/>
                </geometry>
                <!-- Material and color -->
                <material name="black">
                    <!-- a is transparency -->
                    <color rgba="0.0 0.0 0.0 0.5"/>
                </material>
            </collision>

            <xacro:box_inertia m="0.05" w="0.02" h="0.02" d="0.02"/>
            
        </link> 

        <!-- Robot's joint (combine robot's components) -->
        <!-- the param 'type' denots how components place on the joint -->
        <joint name="imu_joint" type="fixed">
            <!-- param 'origin' is the location of components placement -->
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
            <parent link="base_link"/>
            <child link="imu_link"/>
        </joint>

    </xacro:macro>

</robot>
